<h4>Manage Friends</h4>
<div>
    <%= form_tag(users_path, method: "get", id: "search-form", remote: true) do %>
            <%= text_field_tag :search, params[:search], placeholder: "Find new friends" %>
            <%= submit_tag "search", name: nil %>
            <%= link_to "Clear", "#", id: "clear-search" %>
    <% end %>
</div>
<table class="table table-hover">
    <tr id="heading">
        <th>All People</th>
        <th></th>
        <th>Friend Status</th>
    </tr>
    <%= render partial: 'index', locals: { users: @friends } %> 
    <tbody id="search-results"></tbody>
</table>
