<%= expired_task_button %>

<h4>Welcome <i><%= current_user.email %>!</i></h4>

<table class="table table-hover">
    <tr id="heading">
        <th id="task-count">You have <%= pluralize(@tasks.count, "Task").split.insert(1, "active").join ' ' %></th>
        <th>Time remaining</th>
        <th>Completed yet?</th>
    </tr>
    <tbody class="all-tasks"><%= render @tasks %></tbody>
    <tbody class="collapse" id="expired-tasks"><%= render @expired_tasks %></tbody>
    <tr class="new-task"><%= render partial: 'tasks/form', locals: { task: @task } %></tr>
</table>
