<div class="list-toggle">
    <%= render partial: 'my_lists', locals: { lists: @lists, current_list: @list } %>
</div>

<div class="expired-task-toggle">
    <%= expired_task_button %>
</div>

<table class="table table-hover">
    <tr id="heading">
        <th class="col-md-6 task-desc" id="task-count"><%= subject_parse(@user) %><%= pluralize(@tasks.count, "Task").split.insert(1, "active").join ' ' %></th>
        <th class="col-md-4 time-rema">Time remaining</th>
        <% if @user == current_user %>
            <th class="col-md-2 compl-yet">Complete?</th>
        <% end %>
    </tr>
    <tbody class="all-tasks"><%= render @tasks %></tbody>
    <tbody class="collapse" id="expired-tasks"><%= render @expired_tasks %></tbody>
    <% if @user == current_user %>
        <%= render partial: 'tasks/form', locals: { task: @task, current_list: @list } %>
    <% end %>
</table>
